@import "../../Variables.scss";

.singleComicHeader {
    height: 200px;
    background-image: url("/assets/hero-background.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
}
