@import "../../Variables.scss";

@mixin navHover {
    color: white !important;
    background-color: $primary-color;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    font-size: $large-text-size;
    color: $primary-color;
    .headerLeft {
        margin-left: 20px;
        display: flex;
        align-items: center;

        .headerLogo {
            margin-right: 20px;
            cursor: pointer;
            h1 {
                margin: 0;
            }
        }

        nav {
            padding: 10px;
            .navLink {
                border-radius: 40px;
                padding: 5px 15px;
                margin-right: 10px;
                &:hover {
                    @include navHover;
                }
            }

            .navLinkActive {
                @include navHover;
            }
        }
    }

    .headerRight {
        margin-right: 20px;
        padding: 5px;
        font-size: $small-text-size;
        .dropdown {
            border-radius: 40px;
            border: 1px solid $primary-color;
            color: $primary-color;
            &:hover {
                @include navHover;
            }
        }
    }

    .navicon {
        padding: 5px;
        margin-right: 5px;
        cursor: pointer;
        display: none;
    }
}

@media screen and (max-width: $mobile) {
    .header {
        font-size: $medium-text-size;
        .headerLeft {
            position: relative;
            margin: 0;
            .headerLogo {
                margin-left: 10px;
                h1 {
                    margin: 0;
                    padding: 10px 0;
                }
            }
            nav {
                z-index: 9;
                top: 50px;
                width: 100vw;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $secondary-color;
                .navLink {
                    margin-right: 0px;
                    &:hover {
                        @include navHover;
                    }
                }
            }

            .hideNav {
                display: none;
            }
        }

        .headerRight {
            display: none;
        }

        .navicon {
            display: block;
        }
    }
}
